/* Styling for the Header component */
.ant-layout-header {
    background-color: #fff;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
  }
  .ant-menu-horizontal {
    border-bottom: none;
  }
  
  .ant-menu-item {
    font-size: 16px;
    margin-right: 20px;
  }
  
  .ant-menu-item-selected {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .ant-menu-item a {
    color: #333;
    text-decoration: none;
  }
  
  .ant-menu-item-selected a {
    color: #1890ff;
  }
  
  .ant-btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
  }
  
  @media (max-width: 768px) {
    .ant-menu-horizontal {
      display: none;
    }
  }

.custom-table-header .ant-table-thead> tr > th {
  background: var(--key-colors-primary, #131313) !important;
    color: var(--LightGray, #EDEDED) !important;
    /* body small heavy */
    font-family: "Noto Sans HK";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px; /* 135.714% */
    letter-spacing: -0.28px;
}

.custom-table-header .ant-table-thead> tr > th:hover {
  background: var(--key-colors-primary, #131313) !important;
    color: var(--LightGray, #EDEDED) !important;
}

.custom-table-header .ant-table-thead> tr > th .anticon {
  color: var(--LightGray, #EDEDED) !important;
}

.custom-table-header .ant-table-thead > tr > th .anticon.whatsapp-icon {
  color: #14AE5C !important;
  font-size: 25px !important;
}

.ant-card .ant-card-body {
  padding: 0px;
  border-radius: 0 0 8px 8px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.Card_expiredCard, .Card_birthdayCard {
  padding: 0 !important;
  text-align: center !important;
}

/* 設定未選中時的文字顏色 */
.ant-tabs-tab:not(.ant-tabs-tab-active) .ant-tabs-tab-btn {
  color: gray !important; /* 未選中時的文字顏色 */
}

/* 設定選中時的文字顏色 */
.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black !important; /* 選中時的文字顏色 */
}

.ant-modal .ant-modal-content {
  padding: 30px !important; /* 覆蓋預設 padding */
}

.flex-grow.overflow-y-auto {
  padding: 30px !important;
}

 