.cardContainer {
    text-align: left;
    border: 0px solid #ccc;
    border-radius: 8px;
    align-items: center;
    margin: 5px;
    position: relative;
  }
  
  .content {
    display: flex;
    align-items: center;
  }
  
  .icon {
    width: 80.699px;
    height: 82px;
    margin-right: 10px;
  }
  
  .textContainer {
    display: flex;
    width: 69px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  
  .textContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 讓內容在垂直方向上均勻分布 */
    align-items: flex-start; /* 文字靠左對齊 */
    height: 100%; /* 讓內容填滿整個高度 */
}

  .countText {
    color: var(--Text, #272727);
    /* body small */
    font-family: "Noto Sans HK";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.28px;
  }
  
  .BigcountText {
    color: var(--Text, #272727);
    /* H3 */
    font-family: "Noto Sans HK";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
  }
  
  .expiredCard, .birthdayCard {
    display: flex;
    height: 82px;
    width: 179px;
    padding: 10px 8px;
    align-items: center;
    gap: 11px;
  }
  
  .expiredCard {
    border-radius: 5px;
    border: 5px solid var(--DarkGray, #737277);
    background: var(--LightGray, #EDEDED);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .birthdayCard {
    border-radius: 5px;
    border: 5px solid #FFE08F;
    background: #FFF2D0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .additionalInfo {
    color: var(--DarkGray, #737277);
    font-family: "Noto Sans HK";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 183.333% */
    letter-spacing: -0.24px;
    margin-left: 0;
    padding-left: 10px;
  }
  
  .sendLink {
    position: absolute;
    bottom: 10px; /* 調整與底部的距離 */
    right: 10px; /* 調整與右邊的距離 */
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--highlight2, #2989C5);
    font-family: "Noto Sans HK";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.24px;
    text-decoration: underline;
}

.modalContainer {
  display: flex;
  padding: 20px 40px;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-self: stretch;
  border-radius: 5px;
  border: 5px solid #FFE08F;
  background: #FFF2D0;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modalTitle {
  display: flex;
  padding-bottom: 5px;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
  border-bottom: 3px solid #000;
}
.Modalfont{
  color: var(--key-colors-primary, #131313);
  /* body */
  font-family: "Noto Sans HK";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.32px;
}
.ModalItem{
  display: flex;
  height: 44px;
  padding: 12px;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid var(--key-colors-primary, #131313);
  background: var(--White, #FFF);
  color: var(--DarkGray, #737277);

  /* body */
  font-family: "Noto Sans HK";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.32px;
}
.customButton {
  display: flex;
  width: 99px;
  height: 32px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 5px;
  background: var(--key-colors-secondary, #0B49A0);
  color: white;
}

.addButton, .CancelButton {
  display: flex;
  width: 99px;
  height: 32px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.addButton {
  border-radius: 5px;
  background: var(--key-colors-tertiary, #D74D03);
}

.addButton:hover {
  background: var(--key-colors-tertiary, #D74D03)!important;
  color: #FFFFFF !important;
}
.CancelButton{
  border-radius: 5px;
  background: var(--DarkGray, #737277);
  color: #FFFFFF;
}
.CancelButton:hover {
  background: var(--DarkGray, #737277)!important;
  color: #FFFFFF !important;
}

.referrerField {
  margin-top: 16px;
  width: 100%;
}

.flex-grow.p-6.overflow-y-auto {
  padding: 0 !important;
}
