.circleBackground {
  color: var(--key-colors-tertiary, #D74D03);

  /* H2 */
  font-family: "Noto Sans HK";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
  position: relative;
  z-index: 0;
}

.circleBackground::before {
  content: ""; /* 假元素的內容 */
  position: absolute; /* 絕對定位，基於 .circleBackground 定位 */
  top: -30px; /* 控制圓圈向上偏移 */
  left: 50%; /* 水平居中 */
  transform: translateX(-50%); /* 水平居中對齊文字 */
  width: 60px; /* 圓圈的寬度 */
  height: 60px; /* 圓圈的高度 */
  background-color: #FFE0D0; /* 淺粉色背景 */
  border-radius: 50%; /* 讓背景成為圓形 */
  z-index: -1; /* 確保圓圈背景在文字後面 */
}