/* MemberDetail.module.css */

.container {
  display: flex;
  gap: 20px;
  padding: 0px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.leftSection {
  border-radius: 5px;
  border: 5px solid #FFE08F;
  background: #FFF2D0;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 519px;
  padding: 20px 40px;
  margin-top: 63px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}

@media (max-width: 768px) {
  .leftSection {
    width: 90%;
  }
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 768px) {
  .rightSection {
    width: 90%;
  }
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 250px;
}

.pointsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.pointCard {
  flex: 1;
  padding: 10px 8px;
  border-radius: 8px;
  text-align: left;
  color: var(--Text, #272727);

  /* body small */
  font-family: "Noto Sans HK";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.28px;
}

@media (max-width: 768px) {
  .pointCard {
    max-width: 100%;
  }
}

.customDescriptions {
  display: flex;
  align-self: stretch;
  border-radius: 5px;
  border: 5px solid var(--DarkGray, #737277);
  background: #FFF;
}

.customItem {
  flex: 1;
  text-align: left;
  padding: 10px 15px;
  max-width: 33.3%;
  position: relative;
}

.customItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 53px;
  background: #737277; /* 指定背景顏色 */
}

.customItem:last-child {
  border-right: none; /* 最後一項不需要右邊框 */
}

@media (max-width: 768px) {
  .customItem {
    max-width: 100%;
  }
  .customItem:last-child {
    border-right: none;
  }
}

.pointAvailable {
  border-radius: 5px;
  border: 5px solid var(--Avaliable, #62A02B);
  background: #D6FDB3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.pointUsed {
  border-radius: 5px;
  border: 5px solid var(--DarkGray, #737277);
  background: var(--LightGray, #EDEDED);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.pointEarned {
  border-radius: 5px;
  border: 5px solid var(--highlight2, #2989C5);
  background: #CCEBFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.formField {
  margin-bottom: 16px;
}

.noBackgroundCard {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding:0px !important;
}

.noBackgroundCard > .ant-card-body {
  background-color: transparent !important;
}

.ant-descriptions-bordered .ant-descriptions-item {
  border: 1px solid #ddd;
}

.ant-descriptions-item-label, .ant-descriptions-item-content {
  text-align: center;
}

.ant-descriptions-item-content {
  font-size: 1.2em;
  padding: 12px 0;
}

.ant-descriptions-bordered {
  border: 2px solid #777;
  border-radius: 8px;
}

.input-container {
  display: flex;
  height: 44px;
  padding: 12px;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid var(--key-colors-primary, #131313);
  background: var(--White, #FFF);
  color: var(--key-colors-primary, #131313);

  /* body */
  font-family: "Noto Sans HK";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.32px;
}

.input-container input {
  font-family: "Noto Sans HK";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.32px;
  color: var(--key-colors-primary, #131313);
  margin-bottom: 0!important;
}

.disabledInput {
  background-color: #e5e5e5 !important;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  word-break: break-word;
  white-space: normal;
  height: auto;
  line-height: 1.5;
}

.pointValue {
  font-size: 24px;
  display: block;
  margin-top: 4px;
}

.membershipInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoItem {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 7px;
  color: var(--key-colors-primary, #131313);

/* body small */
font-family: "Noto Sans HK";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
letter-spacing: -0.28px;
}

.value {
  display: flex;
  height: 44px;
  padding: 12px;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid var(--key-colors-primary, #131313);
  background: var(--gray, #EDEDED);
  color: var(--DarkGray, #737277);
  /* body */
  font-family: "Noto Sans HK";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.32px;
}





