/* Styling for the Header component */

.ant-layout-header {
  background-color: #fff; /* Example background color */
  padding: 0 20px; /* Example padding */
  border-bottom: 1px solid #eee; /* Example border */
}

/* Styling for the Menu items */
.ant-menu-horizontal {
  border-bottom: none; /* Remove default menu border */
}

.ant-menu-item {
  font-size: 16px; /* Example font size */
  margin-right: 20px; /* Example spacing between items */
}

.ant-menu-item-selected {
  background-color: #f0f0f0; /* Example background color for selected item */
  font-weight: bold; /* Example font weight for selected item */
}

.ant-menu-item a {
  color: #333; /* Example link color */
  text-decoration: none; /* Remove underlines from links */
}

.ant-menu-item-selected a {
  color: #1890ff; /* Example link color for selected item */
}

/* Styling for the Logout Button (assuming it's a standard Ant Design button) */
.ant-btn-primary {
  background-color: #1890ff; /* Example background color */
  border-color: #1890ff; /* Example border color */
}

/* Media query for responsiveness (adjust as needed) */
@media (max-width: 768px) {
  .ant-menu-horizontal {
    display: none; /* Hide the horizontal menu on smaller screens */
  }
  /* Add styles for a mobile menu if needed */
}

/* header */

.custom-page-menu .diamondIcon {
  width: 4.243px !important;
  height: 4.243px;
  background: #d9d9d9;
  transform: rotate(45deg);
  display: inline-block;
  position: relative;
}

.custom-page-menu .icon-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 21px;
  height: 6px;
  margin-right: 0px;
}

.custom-page-menu .menu-item-container {
  display: flex;
  align-items: center;
  gap: 0px;
}

.custom-page-menu .caret-icon {
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px !important;
}

.custom-page-menu .menu-item-text {
  font-family: "Noto Sans HK";
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.32px;
}

.custom-page-menu .menu-item-text {
  color: var(--key-colors-primary, #131313);
  font-weight: 400;
}

.custom-page-menu .menu-item-selected {
  color: var(--key-colors-tertiary, #d74d03);
  font-weight: 700;
}

.custom-page-menu
  :where(
    .css-dev-only-do-not-override-ni1kz0
  ).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item::after,
.custom-page-menu
  :where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item::after,
.custom-page-menu
  :where(
    .css-dev-only-do-not-override-ni1kz0
  ).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu::after,
.custom-page-menu
  :where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu::after {
  content: none !important;
  border-bottom: none !important;
}

.custom-page-menu
  :where(.ant-menu-light.ant-menu-horizontal)
  > .ant-menu-item-selected::after,
.custom-page-menu
  :where(.ant-menu-light.ant-menu-horizontal)
  > .ant-menu-submenu-selected::after {
  content: none !important;
  border-bottom: none !important;
}

.custom-page-menu
  :where(.css-dev-only-do-not-override-ni1kz0).ant-menu-horizontal {
  line-height: normal !important;
}

.custom-page-menu
  :where(.css-dev-only-do-not-override-ni1kz0).ant-menu-horizontal
  .ant-menu-item,
.custom-page-menu
  :where(.css-dev-only-do-not-override-ni1kz0).ant-menu-horizontal
  .ant-menu-submenu {
  padding-inline: 0 !important;
  margin-right: 8px;
}

.custom-page-menu
  :where(.css-dev-only-do-not-override-ni1kz0).ant-menu
  .ant-menu-item
  .ant-menu-item-icon
  + span,
.custom-page-menu
  :where(.css-dev-only-do-not-override-ni1kz0).ant-menu
  .ant-menu-submenu-title
  .ant-menu-item-icon
  + span,
.custom-page-menu
  :where(.css-dev-only-do-not-override-ni1kz0).ant-menu
  .ant-menu-item
  .anticon
  + span,
.custom-page-menu
  :where(.css-dev-only-do-not-override-ni1kz0).ant-menu
  .ant-menu-submenu-title
  .anticon
  + span {
  margin-inline-start: 0 !important;
}

.custom-page-menu :where(.ant-menu-horizontal) > .ant-menu-item {
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
}
/* header */

/* page */

.promotion-summary {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 25px;
}

.promotion-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.promotion-image {
  width: 82px;
  height: 82px;
  display: block;
}

.promotion-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.promotion-text {
  color: var(--Text, #272727);
  font-family: "Noto Sans HK";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.28px;
}

.promotion-number {
  color: var(--Text, #272727);
  font-family: "Noto Sans HK";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 8px 10px;
  gap: 5px;
  border-radius: 5px;
  border: 3px solid var(--key-colors-primary, #131313);
  background-color: transparent;
  margin-top: auto;
}

.custom-button .button-text {
  color: var(--key-colors-primary, #131313);
  font-family: "Noto Sans HK";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.28px;
}

.custom-button .button-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 8px 10px;
  border-radius: 5px;
  background: var(--key-colors-secondary, #0b49a0);
  color: white;
  font-family: "Noto Sans HK";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}

.customButton:hover {
  background: var(--key-colors-secondary-hover, #083d80);
  color: white !important;
}

.custom-row-style {
  color: var(--DarkGray, #737277);

  /* body small */
  font-family: "Noto Sans HK";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.28px;
}

.modalTitle {
  display: flex;
  padding-bottom: 0px;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
  border-bottom: 3px solid #000;
}

.BigcountText {
  color: var(--Text, #272727);
  /* H3 */
  font-family: "Noto Sans HK";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.addButton,
.CancelButton {
  display: flex;
  width: 99px;
  height: 32px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.addButton {
  border-radius: 5px;
  background: var(--key-colors-tertiary, #d74d03);
}

.addButton:hover {
  background: var(--key-colors-tertiary, #d74d03) !important;
  color: #ffffff !important;
}
.CancelButton {
  border-radius: 5px;
  background: var(--DarkGray, #737277);
  color: #ffffff;
}
.CancelButton:hover {
  background: var(--DarkGray, #737277) !important;
  color: #ffffff !important;
}

.two-column-form {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.form-left,
.form-right {
  flex: 1;
  flex-direction: column;
  gap: 15px;
}

.form-left {
  height: fit-content;
  padding: 20px 50px;
  flex-direction: column;
  border-radius: 5px;
  border: 5px solid var(--highlight2, #2989c5);
  background: var(--key-colors-secondary, #0b49a0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-left .form-item-label {
  color: var(--key-colors-neutral, #fff);
  font-family: "Noto Sans HK";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.28px;
}

.form-right .form-item-label {
  color: var(--primary, #202124);
  font-family: "Noto Sans HK";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.28px;
}

.form-body-text {
  font-family: "Noto Sans HK";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.28px;
}

.form-input {
  display: flex;
  height: 44px;
  padding: 12px;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid var(--key-colors-primary, #131313);
  background: var(--White, #fff);
}

.form-left .form-input {
  width: 100%;
  height: 44px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid var(--key-colors-primary, #131313);
  background: var(--White, #fff);
}

.form-right .form-input {
  width: 100%;
  height: 44px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid var(--key-colors-primary, #131313);
  background: var(--White, #fff);
}

.form-right.ant-form-item {
  margin-bottom: 15px !important;
}

.form-right.ant-select-selector {
  border: 1px solid var(--key-colors-primary, #131313) !important;
  background: var(--White, #fff) !important;
  height: 44px !important;
  display: flex !important;
  align-items: center !important;
  padding: 0px !important;
  border-radius: 5px !important;
}

.form-right.ant-input-number {
  border: 1px solid var(--key-colors-primary, #131313) !important;
  background: var(--White, #fff) !important;
  height: 44px !important;
  display: flex !important;
  align-items: center !important;
  padding: 0px !important;
  border-radius: 5px !important;
}

.form-right.ant-picker {
  width: 100% !important;
  height: 44px !important;
  border: 1px solid var(--key-colors-primary, #131313) !important;
  border-radius: 5px !important;
  background: var(--White, #fff) !important;
  padding: 0 12px !important;
  display: flex !important;
  align-items: center !important;
}

.form-right.ant-select-dropdown {
  max-width: 100% !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 0 !important;
}

.form-right.ant-select-item {
  max-width: 100% !important;
  display: flex;
  align-items: center;
  padding: 5px 12px;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector,
:where(.css-dev-only-do-not-override-ni1kz0).ant-input-number
  .ant-input-number-input {
  padding: 0 !important;
}
/* page */

/* edit */

.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  padding: 5px;
}

.switch-text {
  color: var(--dark-gray, #596869);
  font-family: "Noto Sans HK";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.28px;
  display: flex;
  align-items: center;
}

.form-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.form-column {
  flex: 1;
}

.hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}

.custom-select {
  height: 44px;
  padding: 0 12px;
  border: 1px solid var(--key-colors-primary, #131313);
  border-radius: 5px;
  background: var(--White, #fff);
  display: flex;
  align-items: center;
}

.custom-select .ant-select-selector {
  width: 100% !important;
  height: 100%;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.custom-select .ant-select-dropdown {
  width: auto !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

/* 調整箭頭的位置 */
.custom-select .ant-select-selector .ant-select-arrow {
  top: 50% !important;
  transform: translateY(-50%) !important;
  position: absolute !important;
  right: 12px !important;
}

.readonly-input {
  height: 44px;
  padding: 0 12px;
  border-radius: 5px;
  border: 1px solid var(--A2, #162593);
  background: var(--gray, #ededed);
  display: flex;
  align-items: center;
}

.readonly-input .ant-select-selector {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.readonly-input .ant-select-arrow {
  color: #131313;
}

.readonly-input .ant-select-disabled .ant-select-selector {
  cursor: not-allowed;
}

/* edit */

/* point_setting */

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; /* 圓角按鈕的寬度 */
  height: 32px; /* 圓角按鈕的高度 */
  background-color: var(--Dark, #737277);
  border-radius: 24px; /* 圓角 */
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease; /* 平滑過渡 */
  gap: 3px; /* 圖標與文字間距 */
  padding: 8px 10px;
  line-height: 19px;
  letter-spacing: -0.28px;
}

/* 選擇狀態樣式 */
.custom-checkbox.checked {
  background-color: var(--key-colors-secondary, #0B49A0);
}

/* 圖標樣式 */
.custom-checkbox .icon {
  font-size: 20px; /* 圖標大小 */
}

/* 文字樣式 */
.custom-checkbox .checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 三欄佈局 */
.three-column-layout {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  background-color: #d9d9d9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.card.active {
  background-color: #0b49a0;
  color: #fff;
}

.card-header {
  display: flex;
  align-items: center; /* 垂直置中 */
  justify-content: space-between; /* 左右分佈 */
  padding: 0 8px; /* 控制內部間距 */
}

.card-title {
  display: flex;
  align-items: center; /* 垂直置中 */
  gap: 8px; /* 圖片和文字的間距 */
  font-size: 16px;
  font-weight: bold;
}

.card-icon {
  cursor: pointer;
  font-size: 16px; /* 調整右邊圖標大小 */
}

.card-body {
  margin-top: 16px;
}

/* point_setting */